<tr class="bg-gray-100 border-b border-gray-200">
  <td class="px-4 py-3"><%= term.index %></td>
  <td class="px-4 py-3"><%= term.due_on.strftime('%d/%m/%Y') %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.period_amount_to_pay) %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.period_capital) %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.period_interests) %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.crd_end_of_period) %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.due_interests_end_of_period) %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.total_paid_capital_end_of_period) %></td>
  <td class="px-4 py-3"><%= number_to_currency(term.total_paid_interests_end_of_period) %></td>
</tr>

