<tr>
  <td><%= term.index %></td>
  <td><%= term.due_on.strftime('%d/%m/%Y') %></td>
  <td><%= number_to_currency(term.period_amount_to_pay) %></td>
  <td><%= number_to_currency(term.period_capital) %></td>
  <td><%= number_to_currency(term.period_interests) %></td>
  <td><%= number_to_currency(term.crd_end_of_period) %></td>
  <td><%= number_to_currency(term.due_interests_end_of_period) %></td>
</tr>

